body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 2% 5% 2% 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.button-div {
   padding: 1.5rem 0 0 0;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn:active {
  transform: scale(0.95);
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.red:active {
   box-shadow: red 0px 0px 30px;
}

.green {
  background-color: green;
}

.green:active {
   box-shadow: green 0px 0px 30px;
}

.blue {
  background-color: blue;
}

.blue:active {
   box-shadow: blue 0px 0px 30px;
}

.yellow {
  background-color: yellow;
}

.yellow:active {
   box-shadow: yellow 0px 0px 30px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
